@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body {
	    font-family: 'Montserrat', sans-serif;
	    font-size: 20px;
	}

    h1 {
        font-size: 100px;
        font-weight: 500;
    }

    #caja {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: calc(100% - 32px);
    }

    .ficha {
        flex: 0 0 calc(50% - 10px);
        border-radius: 16px;
    }

    button {
        position: relative;
        top: -152px;
        left: 355px;
        opacity: 0.6;
    }

    button img {
        width: 130px;
    }

    p {
        width: 80%;
        font-size: 40px;
        margin-bottom: 20px;
    }

    header {
        margin-top: 30px;
        margin-left: 47px;
    }

    main {
        margin-left: 35px;
    }


