<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Verdadero o Falso</title>
</head>
<body>

    <h2>Formulario de Preguntas Verdadero o Falso</h2>

    <form action="/formulario" method="/formulario">
        <!-- Pregunta 1 -->
        <div>
            <label for="pregunta1" th:text="${pregunta1}"></label>
            <div>
				<input type="radio" id="verdadero1" name="pregunta1" value="verdadero">
            	<label for="verdadero1">Verdadero</label>
            	<input type="radio" id="falso1" name="pregunta1" value="falso">
            	<label for="falso1">Falso</label>
            </div>
        </div>
        <!-- Agregar más preguntas según sea necesario -->

        <!-- Botón de enviar -->
        <div>
            <button type="submit">Enviar respuestas</button>
        </div>
    </form>

</body>
</html>