<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Creando pregunta</title>
<link th:href="@{/css/estilos_crear_pregunta.css}" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<a th:href="@{/lista}">Cancelar y volver a la lista de preguntas</a>
		</nav>
	</header>
	<main>
	<div>
		<h2>Crear pregunta verdadero o falso:</h2>
		<form id="formularioVF" th:action="@{/vfCreada}" th:object="${pregunta}"
			method="post">
			<table>
				<tr>
					<th>Campo</th>
					<th>Valor</th>
				</tr>
				<tr>
					<td>Enunciado</td>
					<td><input type="text" th:field="*{enunciado}" /></td>
				</tr>
				<tr>
					<td>Respuesta correcta</td>
					<td><select id="respuestaCorrecta" name="respuestaCorrecta"
						th:field="*{respuestaCorrecta}">
							<option value="Verdadero">Verdadero</option>
							<option value="Falso">Falso</option>
					</select></td>
				</tr>
				<tr>
					<td>Temática</td>
					<td><select id="tema" name="tema" th:field="*{tema}">
							<option value="Odoo">Odoo</option>
							<option value="IA">Inteligencia artificial</option>
							<option value="Informática">Informática</option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Guardar pregunta" /></td>
				</tr>
			</table>
			<input type="hidden" th:name="tipo" value="vf">
		</form>
</div>
<div>
		<h2>Crear pregunta de elección única:</h2>
		<form th:action="@{/scCreada}" th:object="${pregunta}"
			method="post">
			<table>
				<tr>
					<th>Campo</th>
					<th>Valor</th>
				</tr>
				<tr>
					<td>Enunciado</td>
					<td><input type="text" th:field="*{enunciado}" /></td>
				</tr>
				<tr>
				<tr>
					<td>Respuesta 1</td>
					<td><input id="respuesta1sc" type="text" th:field="*{respuestas}"/></td>
				</tr>
				<tr>
					<td>Respuesta 2</td>
					<td><input id="respuesta2sc" type="text" th:field="*{respuestas}"/></td>
				</tr>
				<tr>
					<td>Respuesta 3</td>
					<td><input id="respuesta3sc" type="text" th:field="*{respuestas}"/></td>
				</tr>
				<tr>
					<td>Respuesta 4</td>
					<td><input id="respuesta4sc" type="text" th:field="*{respuestas}"/></td>
				</tr>

				<tr>
					<td>Respuesta correcta</td>
					<td><input type="text" th:field="*{respuestaCorrecta}" /></td>
				</tr>
				<tr>
					<td>Temática</td>
					<td><select id="tema" name="tema" th:field="*{tema}">
							<option value="Odoo">Odoo</option>
							<option value="IA">Inteligencia artificial</option>
							<option value="Informática">Informática</option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Guardar pregunta" /></td>
				</tr>
			</table>
			<input type="hidden" th:name="tipo" value="sc">
		</form>
		</div>
		<div>
		<h2>Crear pregunta de opción múltiple</h2>
		<form th:action="@{/mcCreada}" th:object="${pregunta}"
			method="post">
			<table>
				<tr>
					<th>Campo</th>
					<th>Valor</th>
				</tr>
				<tr>
					<td>Enunciado</td>
					<td><input type="text" th:field="*{enunciado}" /></td>
				</tr>
				<tr>
				<tr>
					<td>Respuesta 1</td>
					<td><input id="respuesta1mc" type="text" th:field="*{respuestas}"/></td>
				</tr>
				<tr>
					<td>Respuesta 2</td>
					<td><input id="respuesta2mc" type="text" th:field="*{respuestas}"/></td>
				</tr>
				<tr>
					<td>Respuesta 3</td>
					<td><input id="respuesta3mc" type="text" th:field="*{respuestas}"/></td>
				</tr>
				<tr>
					<td>Respuesta 4</td>
					<td><input id="respuesta4mc" type="text" th:field="*{respuestas}"/></td>
				</tr>

				<tr>
					<td>Respuesta correcta 1</td>
					<td><input type="text" id="respuestaCorrecta1mc" th:field="*{respuestaCorrecta}" /></td>
				</tr>
				<tr>
					<td>Respuesta correcta 2</td>
					<td><input type="text" id="respuestaCorrecta2mc" th:field="*{respuestaCorrecta}" /></td>
				</tr>
				<tr>
					<td>Respuesta correcta 3</td>
					<td><input type="text" id="respuestaCorrecta3mc" th:field="*{respuestaCorrecta}" /></td>
				</tr>
				<tr>
					<td>Respuesta correcta 4</td>
					<td><input type="text" id="respuestaCorrecta4mc" th:field="*{respuestaCorrecta}" /></td>
				</tr>
				<tr>
					<td>Temática</td>
					<td><select id="tema" name="tema" th:field="*{tema}">
							<option value="Odoo">Odoo</option>
							<option value="IA">Inteligencia artificial</option>
							<option value="Informática">Informática</option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Guardar pregunta" /></td>
				</tr>
			</table>
			<input type="hidden" th:name="tipo" value="sc">
		</form>
		</div>
	</main>
	<script th:src="@{/js/script.js}">
    </script>


	
</body>
</html>