<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
    <meta charset="ISO-8859-1">
    <title>Listado</title>
    <link th:href="@{/css/estilos_lista.css}" rel="stylesheet">
</head>
<body>
    <nav>
    <a class="botonNav" th:href="@{/home}">Ir al home</a>
    <a class="botonNav" th:href="@{/crearPregunta}">Crear nueva pregunta</a>
    </nav>
    <main>
    	<section>
    		<form id="filtros" th:action="@{/home/listar}" method="post">
    			<div><span>Filtrar por tipo:</span>
    			<select id="tipo" name="tipo">
        			<option value="sc">Single choice</option>
        			<option value="vf" >Verdadero o falso</option>
    			</select>
    			</div>
    			<!--  <div><span>Filtrar por tema:</span>
    			<select id="tema" name="tema">
        			<option value="Odoo">Odoo</option>
        			<option value="Otros" >Otros</option>
    			</select>
    			</div>-->
    			<input type="submit" value="Aplicar filtros">
    		</form>
    	</section>
        <table>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Tema</th>
                <th>Enunciado</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="pregunta: ${preguntas}">
                <td th:text="${pregunta.id}"></td>
                <td th:text="${pregunta.tipo}"></td>
                <td th:text="${pregunta.tema}"></td>
                <td th:text="${pregunta.enunciado}"></td>
                <td><a th:href="@{/home/formulario/} + ${pregunta.id}">Modificar</a></td>
                <td><a class="botonEliminar" th:href="@{/home/eliminar/} + ${pregunta.id}">Eliminar</a></td>
            </tr>
        </table>
    </main>
</body>
</html>