<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/css/estilos_resultado.css}" rel="stylesheet">
</head>
<body>
<!--<header>
	<nav>
		<a th:href="@{/home}">Volver al home</a>
		<a th:href="@{/home/test}">Hacer otro test</a>
	</nav>
	<h1>HAS ACERTADO <span th:text="${acertadas}"></span>/10 PREGUNTAS </h1>
	
</header>
<main>
<h2 th:if="${preguntasFalladas.size != 0}">Preguntas falladas</h2>
<div  th:each="pregunta: ${preguntasFalladas}" class="preguntaFallada">
	<p th:text="${pregunta.enunciado}" class="enunciado"></p>
	<p>Respuesta correcta: <span th:text="${pregunta.respuestaCorrecta}"></span></p>
	<p>Respuesta seleccionada: <span th:text="${contestacionesFalladas[__${preguntasFalladas.indexOf(pregunta)}__].opcionSeleccionada}"></span></p>
</div>
<h2 th:if="${preguntasAcertadas.size != 0}">Preguntas acertadas</h2>
<div th:each="pregunta: ${preguntasAcertadas}" class="preguntaAcertada">
	<p th:text="${pregunta.enunciado}" class="enunciado"></p>
	<p>Respuesta correcta: <span th:text="${pregunta.respuestaCorrecta}"></span></p>
	<p>Respuesta seleccionada: <span th:text="${contestacionesAcertadas[__${preguntasAcertadas.indexOf(pregunta)}__].opcionSeleccionada}"></span></p>
</div>
</main>  -->

</body>
</html>