header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

nav {
	text-align:center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

div {
	display: flex;
    justify-content:center;
}
