<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificando pregunta</title>
</head>
<body>
    <form th:action="@{/home/formulario}" th:object="${pregunta}" method="post">
    	<table>
    		<tr>
    			<th>Campo</th>
    			<th>Valor</th>
    		</tr>
    		<tr>
				<td>Tipo</td>
				<td>
				<select id="tipo" name="tipo" th:field="*{tipo}">
        			<option value="sc">Single choice</option>
        			<option value="vf" >Verdadero o falso</option>
    			</select>
    			</td>
			</tr>
    		<tr>
				<td>Enunciado</td>
				<td><input type="text" th:field="*{enunciado}"/></td>
			</tr>

			<tr>
				<td>Respuesta correcta</td>
				<td><input type="text" th:field="*{respuestaCorrecta}"/></td>
			</tr>

			<tr>
				<td>Respuesta 1</td>
				<td><input type="text" th:field="*{respuesta1}"/></td>
			</tr>
			
			<tr>
				<td>Respuesta 2</td>
				<td><input type="text" th:field="*{respuesta2}"/></td>
			</tr>
			<tr>
				<td>Respuesta 3</td>
				<td><input type="text" th:field="*{respuesta3}"/></td>
			</tr>
			<tr>
				<td>Respuesta 4</td>
				<td><input type="text" th:field="*{respuesta4}"/></td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" value = "Guardar pregunta"/></td>
			</tr>
    	</table>
    	<input type="hidden" th:field="*{id}"/>
    </form>
</body>
</html>