<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>

<head>
	<meta charset="ISO-8859-1">
	<title>Test</title>
	<link th:href="@{/css/estilos_test.css}" rel="stylesheet">
</head>
<header>
	<h1>Examen</h1>
</header>
<nav>
	<a th:href="@{/home}">Cancelar y volver al home</a>
</nav>

<body>
	<div th:each="pregunta: ${lista}">
		<div th:if='${pregunta.tipo.equals("vf")}' class="cajaFormulario">
			<h1 th:text="${pregunta.enunciado}"></h1>
			<form th:action="@{/home/testComprobar}" th:object="${pregunta}" method="post">
				<p><input type="radio" th:name="${pregunta.id}" id="verdadero" value="Verdadero"></input>
					<label for="verdadero">Verdadero</label>
				</p>
				<p><input type="radio" th:name="${pregunta.id}" id="falso" value="Falso"></input>
					<label for="falso">Falso</label>
				</p>
			</form>
		</div>
		<div th:if='${pregunta.tipo.equals("sc")}' class="cajaFormulario">
			<h1 th:text="${pregunta.enunciado}"></h1>
			<form th:action="@{/home/testComprobar}" th:object="${pregunta}" method="post">
				<p><input type="radio" th:name="${pregunta.id}" id="respuesta1" th:value="${pregunta.respuesta1}">
					<label for="respuesta1" th:text="${pregunta.respuesta1}"></label>
				</p>
				<p><input type="radio" th:name="${pregunta.id}" id="respuesta2" th:value="${pregunta.respuesta2}">
					<label for="respuesta2" th:text="${pregunta.respuesta2}"></label>
				</p>
				<p><input type="radio" th:name="${pregunta.id}" id="respuesta3" th:value="${pregunta.respuesta3}">
					<label for="respuesta3" th:text="${pregunta.respuesta3}"></label>
				</p>
				<p><input type="radio" th:name="${pregunta.id}" id="respuesta4" th:value="${pregunta.respuesta4}">
					<label for="respuesta4" th:text="${pregunta.respuesta4}"></label>
				</p>
			</form>
		</div>
	</div>
	<input type="submit" value="Finalizar test">
</body>

</html>